.vertical-line {
	border-right: 1px solid #000000;
}
.panel-border {
	border-color: #ffffff !important;
}
.panel-border > .panel-heading
{
	padding: 2px 15px !important;
}
.severity-box {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 20px;
	border-color: #ebccd1;
}
.box-shadow{
	box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19) !important;
	padding: 15px 20px;
}
.circle-chart 
{
	margin: 20px;
	width: 200px;
	height: 200px;
}
.circles {
	margin-bottom: -10px;
}

.circle {
	width: 100px;
	margin: 6px 6px 20px;
	display: inline-block;
	position: relative;
	text-align: center;
	line-height: 1.2;
}

.circle canvas {
	vertical-align: top;
}

.circle strong {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
}

.circle strong i {
	font-style: normal;
	font-size: 0.6em;
	font-weight: normal;
}

.circle span {
	display: block;
	color: #aaa;
	margin-top: 12px;
}
.custom-checkbox {
	min-height: 1rem;
	padding-left: 0;
	margin-right: 0;
	cursor: pointer; 
}
.custom-checkbox .custom-control-indicator {
	content: "";
	display: inline-block;
	position: relative;
	width: 30px;
	height: 10px;
	background-color: #818181;
	border-radius: 15px;
	margin-right: 10px;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	vertical-align: middle;
	margin: 0 16px;
	box-shadow: none; 
}
.custom-checkbox .custom-control-indicator:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #f1f1f1;
	border-radius: 21px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
	left: -2px;
	top: -4px;
	-webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
	transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
	background-color: #84c7c1;
	background-image: none;
	box-shadow: none !important; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
	background-color: #84c7c1;
	left: 15px; 
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
	box-shadow: none !important; 
}
