.comments-list,.uploads-list ,.tags-list{
	min-height: 20px;
	padding: 19px;
	margin-right:100px;
	margin-top:20px;
}
.comment-alert,.upload-alert,.tag-alert {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.comment-form,.upload-form,.tag-form{
	margin-left: 10px;
}

#comment_message {
	height: 100px;
//	width: 98%;
}
.label, .badge {
	background-color: #999999;
	color: white;
	display: inline-block;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	padding: 2px 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}
.label {
	padding: 4px 5px !important;
}
