.ts-main-content .content-wrapper {
}
@media only screen and (min-width: 992px) {
	.ts-main-content .ts-sidebar {
		width: 250px;
		float: left;
  }
  .ts-main-content .content-wrapper {
	  margin-left: 250px;
  }
}
.ts-main-content .ts-sidebar {
    float: left;
    width: 250px;
}
.analytics-menu
{
	 width: 280px !important;
}
.analytics-content-wrapper
{
	margin-left: 280px;
}
.drop-box +  div >  ul {
	max-width: 258px;
}

.ts-sidebar {
    bottom: 0;
    max-height: 100%;
}
.ts-sidebar::-webkit-scrollbar-track {
	background-color: transparent;
}
.ts-sidebar::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}
.ts-sidebar::-webkit-scrollbar-thumb {
	background-color: #b4b4b4;
}
.ts-sidebar {
	background: #f1f1f1 none repeat scroll 0 0 !important;
	bottom: 0;
	max-height: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 45px;
	transition: max-height 0.3s ease 0s;
	width: calc(100% - 40px);
	z-index: 2;
}
.ts-sidebar .hidden-side {
	display: none;
}
.ts-sidebar .ts-sidebar-search {
	width: 100%;
	background: #25292a;
	border: none;
	padding: 10px 15px;
	color: #fff;
}
@media only screen and (min-width: 992px) {
	.ts-sidebar .ts-profile-nav {
		display: none;
  }
}
@media only screen and (min-width: 992px) {
	.ts-sidebar {
		max-height: 100%;
		bottom: 0;
  }
}
.ts-sidebar-menu .ts-label,.ts-sidebar-menu > li > div > a,.analytics > li > div > a {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 16px;
	padding: 8px 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	transition: all 0.24s ease-in-out 0s;
	margin-top: 10px;
}
.ts-sidebar-menu a,.analytics a {
	display: block;
	text-decoration: none;
	padding: 12px 15px;
	color: #000000;
}
.ts-sidebar-menu a:hover, .ts-sidebar-menu li:active, .ts-sidebar-menu > li > a:hover, .ts-sidebar-menu > li > a:focus  {
	background-color: #FCC !important;//#888888 !important;
	color: #fff;
}

#severity
{
	margin-right: 5px;
}
.ts-sidebar-menu li,.analytics li {
	position: relative;
}
.ts-sidebar-menu li i,.analytics li i {
	color: #585c64;
	margin-right: 10px;
}
.ts-sidebar-menu li b a:active:focus,.analytics li b a:active:focus {
	color: #000; 
	background-color: #888888 !important; 
}
.ts-sidebar-menu li ul {
	display: block;
	background: rgba(255, 0, 0, 0.12);
	background: rgba(0, 0, 0, 0.32);
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}
.more i {
	color: #fff;
	padding: 15px;
	transition: transform 0.3s;
}
.more {
	float: right;
	min-width: 10%;
	cursor: pointer;
}
@media only screen and (min-width: 992px) {
	.ts-main-content .ts-sidebar {
		width: 250px;
		float: left;
  }
  .ts-main-content .content-wrapper {
	  margin-left: 250px;
  }
}
.time h1 {
    color: #6e6e6e;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
}

.time p {
  margin-top: -8px;
  text-align: center;
  font-size: 12px;
  color: #918C8C;
}
.padding-0 {
  padding: 0px;
}
/* Chart design */
/* Charts */
.chart-dot-list {
	display: block;
	margin-top: 60px;
	margin-left: 20px;
}
.chart-dot-list li {
	margin-bottom: 4px;
}
.chart-dot-list li:before {
	content: '';
	height: 12px;
	width: 12px;
	margin-right: 6px;
	display: inline-block;
	background: #222;
}
.chart-dot-list li.a1:before {
	background: #e31e25;
}
.chart-dot-list li.a2:before {
	background: #a94442;
}
.chart-dot-list li.a3:before {
	background: #f2b968;
}
.chart-dot-list li.a4:before {
	background: #73c9e3;
}
.chart-dot-list li.a5:before {
	background: #74c374;
}
.critical{
	color: #d9534f !important;
}
.high {
	color: #a94442 !important;
}
.medium{
	color: #f2b968 !important;
}
.low {
	color: #73c9e3 !important;
}
.info{
	color: #74c374 !important;
}
.finds-row
{
	border-radius: 20px !important;
}
.critical-row{
	background-color: #e31e25 !important;
}
.high-row {
	background-color: #a94442 !important;
}
.medium-row {
	background-color: #f2b968 !important;
}
.low-row {
	background-color: #73c9e3 !important;
}
.info-row {
	background-color: #74c374 !important;
}
.critical-line{
	background-color: #e31e25 !important;
}
.high-line {
	background-color: #a94442 !important;
}
.medium-line{
	background-color: #f2b968 !important;
}
.low-line {
	background-color: #73c9e3 !important;
}
.info-line{
	background-color: #74c374 !important;
}
.left-icon
{
	float: left !important;
}
.left-navbar-divider
{
	border-color: #000000 !important;
}
.dashboard-wrapper
{
	margin-left: 100px;
	margin-right: 100px;
}
.chart-doughnut {
	padding: 41px 0;
}
.checkbox-slider--b-flat {
	//margin-top: -4px !important;
	//margin-bottom: -2px !important;
}
.panel-heading span
{
	margin-top: -26px;
	font-size: 18px;
	margin-right: -12px;
}
.chart-panels{ 
	display: flex
}
.each-panel
{
	flex: 1; /* additionally, equal width */
}
.clickable {
	background: rgba(0, 0, 0, 0.15);
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px;
	cursor: pointer;
}
.time-legend {
    position:absolute;
    top: 71px;
    left: 15px;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid #CCC ;
    font-weight: bold;
}
.btn-xs,.btn-group-xs > .btn
{
	font-size: 10px !important;
	margin-bottom:2px !important;
}
.button-legend
{
	margin-top:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:4px !important;
}


