.clickable{     
	cursor: pointer;   
}
.panel-heading span {                   
	margin-top: -20px;                      
	font-size: 15px;                                
}
#filter_findings_table_filter,#repo_severity_findings_filter {
	margin-top: -35px !important;
}
#severity_results {
	//	margin-right: -35px !important;
}
.mark-buttons {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #d43f3a 0%, #d43f3a 100%) repeat scroll 0 0;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow: 1px 1px 4px #999;
	box-sizing: border-box;
	color: #fff;
	font-size: 1em;
	margin-right: 0.5em;
	min-width: 1.5em;
	text-align: center;
	display: block;
	cursor:pointer !important;
	font-size: 1em;
	padding: 1em 1.5em;
	text-decoration: none !important;
	//text-shadow: 1px 2px 0 rgba(255, 255, 255, 0.9);
}
