.tagit {
	list-style: none;
}
.tagit.fake-input {
	padding: 0px 4px 0px 4px;
	height: auto;
	line-height: 26px;
}
.tagit li {
	display: inline-block;
}
.tagit li.tag {
	margin: 3px 4px 3px 0;
	padding: 0 2px 0 2px;
	line-height: 18px;
	cursor: default;
	border: solid 1px #AAA;
	border-radius: 2px;
	background: #DDD;
	color: #333;
}
.tagit li.tag .close {
	margin-left: 5px;
}
.tagit .tagit-edit-handle {
	position: relative;
}
.tagit .tagit-edit-handle input {
	padding: 3px 4px 2px 0;
	background: transparent;
}
.tagit .tagit-edit-handle ul {
	position: absolute;
	left: 0;
	top: 20px;
	right: 0;
	background: 'white';
	margin: 0;
	padding: 0;
	display: none;
	border: solid 1px #7f9db9;
	line-height: 20px;
}
.tagit .tagit-edit-handle ul.open {
	display: block;
}
.tagit .tagit-edit-handle ul.open:hover li.selected {
	background: transparent;
	color: inherit;
}
.tagit .tagit-edit-handle ul.open li.selected,
.tagit .tagit-edit-handle ul.open:hover li:hover {
	background: #3399ff;
	color: 'white';
}
.tagit .tagit-edit-handle ul.open li {
	display: block;
	padding: 3px;
	cursor: default;
}

