// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.badge-total {           
    color: #337ab7 !important 
}
.badge-critical {
    color: #d9534f !important;
}
.badge-high {
    color: #a94442 !important;
}
.badge-medium {
    color: #f2b968 !important;
}
.badge-low {
    color: #73c9e3 !important;
}
.badge-info {
    color: #74c374 !important;
}
.project-list {
    min-height: 153px;
}
.project-list {
    box-shadow: 0 2px 4px 0 rgba(25, 24, 24, 0.16), 0 2px 10px 0 rgb(53, 9, 9) !important;
    padding-bottom: 20px !important;
}
.hide-header {
	visibility: hidden;
}
.teams-menu
{
	width: 300px !important;
}
.applications-content-wrapper
{
	margin-left: 320px;
}
.remove-up-space
{
	margin-top: -5px !important;
}
.remove-down-space
{
	 margin-bottom: -5px !important;
}
