<div class="bhoechie-tab-content active">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li class="breadcrumb-item active"><%= link_to "Dashboard",display_dashboards_path(dashboard_type: params[:dashboard_type],scan_type: params[:scan_type])%></li>
			<%unless current_user.is_admin?%>
				<li class="breadcrumb-item"><%=params[:dashboard_type]%></li>
			<%end%>
			<li class="breadcrumb-item"><%=@app_type%></li>
		</ul>  
	</div>
	<center>
		<div class="col-md-6">
			<div class="panel panel-default each-panel panel-border">
				<div class="panel-heading"><h4>Vulnerability Trending</h4>
				</div>
				<div class='panel-body'>
					<div class="time-legend source_trend">
						<button class='btn btn-xs btn-success button-legend'>3M</button>
						<button class='btn btn-xs button-legend'>6M</button>
						<button class='btn btn-xs button-legend'>1Y</button>
					</div>
					<div id="trend_line" style="height: 380px"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default each-panel panel-border">
				<div class="panel-heading"><h4>Most Vulnerable Applications</h4>
				</div>
				<div class='panel-body'>
					<div id="stack_bar" style="height: 380px">
						<%unless @user_top_apps.present?%>
							<h2> No Scan Results </h2>
						<%end%>
					</div>
				</div>
			</div>
		</div>

	</center>
	<center>                
		<div class="col-md-6">  
			<div class="panel panel-default each-panel panel-border">
				<div class="panel-heading"><h4> Top 10 Critical Apps</h4>
				</div>  
				<div class='panel-body'>
					<div id="pie_chart" style="height: 380px"></div>
				</div>
			</div>          
		</div>          
		<div class="col-md-6">
			<div class="panel panel-default each-panel panel-border">
				<div class="panel-heading"><h4>Severity Levels</h4>
				</div>
				<div class='panel-body'>
					<div id="chartContainer" style="height: 380px">
						<%unless @user_top_apps.present?%>
							<h2> No Scan Results </h2>
						<%end%>
					</div>
				</div>
			</div>
		</div>

	</center>

</div>
