#[Title]#
%report_item.issue-type%

#[Severity]#
%report_item.severity%


#[CVSSScore]#
%report_item.cvss-score%


#[Solution]#
%report_item.remediation%


#[Description]#
%report_item.fix-recommendation%


#[Recommendation]#
%report_item.advisory%
