<%@uploads.each do |upload|%>
	<div class="upload jumptarget" id="comment-<%= upload.id %>">
		<p>
		<% if upload.user == current_user %>
			<span class="label">You:</span>
		<% else %>
			<span class="label"><%=upload.user.name%>:</span>
		<% end %>
		</p>

		<blockquote>
			<%= link_to "<i class='glyphicon glyphicon-download text-danger'></i>&nbsp&nbsp#{upload.file_file_name}".html_safe,download_file_finding_uploads_path(upload.finding,upload_id: upload.id),title: 'Download',onclick: 'stop_events(event);'%>
			<small><em><%= l upload.created_at %></em></small>
		</blockquote>
	</div>
<%end%>

