#[Title]#
%report_item.name%


#[Severity]#
%report_item.severity%


#[Description]#
%report_item.description%


#[RemedyGuidance]#
%report_item.remedy_guidance%


#[References]#
%report_item.references%

#[Request]#
%report_item.request%

#[Response]#
%report_item.response%
