#[Title]#
%report_item.Category%


#[Severity]#
%report_item.Friority%


#[Description]#
%report_item.description%


#[RemedyGuidance]#
%report_item.remedy_guidance%


#[References]#
%report_item.references%

#[FilePath]#
%report_item.FilePath%

#[LineNo]#
%report_item.LineStart%
