<div class="ts-main-content">   
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper">
		<div class="container">
			<div id="settings_message"></div>
			<div class='row'>
				<div class='col-md-8'>
					<div class="panel panel-default">
						<div class="panel-heading"><h4>New Scan Type</h4></div>
						<div class="panel-body">
							<%= render 'form' %>
							<%= link_to 'Back', scan_types_path %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
