#[Title]#
%issue.name%


#[Background]#
%issue.background%


#[RemediationBackground]#
%issue.remediation_background%


#[Detail]#
%issue.detail%


#[RemediationDetails]#
%issue.remediation_detail%


#[Host]#
%issue.host%


#[Severity]#
%issue.severity%


#[Location]#
%issue.location%


#[Request]#
%issue.request%


#[Response]#
%issue.response%


#[Path]#
%issue.path%


#[Confidence]#
%issue.confidence%


