<div class="ts-main-content">
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper">
		<div class='col-md-6'>
			<div class="panel panel-default">
				<div class="panel-heading"><h4>New Tag</h4></div>
				<div class="panel-body">
					<%= render 'form' %>
					<%= link_to 'Back', tags_path %>
				</div>
			</div>
		</div>
	</div>
</div>

