<div class='row'>
	<div class='col-md-11'>
		<div class='panel panel-default'>
			<div class='panel-heading'> <h4 class="panel-title">Comments</h4>
				<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			</div>
			<div class='panel-body'>
				<div class='comments-list'>
					<div id="comments-list">
						<%if @comments.present?%>
							<%= render 'comments/list'%>
						<%else%>
							<p class="comment-alert alert-info">No comments yet.</p>
						<%end%>
					</div>
					<div class='row top-buffer'>
						<%= render partial: 'comments/form.html', locals: { finding: @finding } %>
						<!--<u><a href="#" onclick="open_message_box(event);"><i class='glyphicon glyphicon-comment'></i> Comment</a></u>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


