<div class='row'>
	<div class='col-md-11'>
		<div class='panel panel-default'>
			<div class='panel-heading'> <h4 class="panel-title">Tags</h4>
				<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			</div>
			<div class='panel-body'>
				<div class='tags-list col-md-12'>
					<!--<%#if @tags.present?%>-->
						<!--<div id="tags-list">
							<%#= render 'tags/list'%>
						</div>-->
					<%#else%>
					<!--<p class="tag-alert alert-info">No tags yet.</p>-->
					<%#end%>
					<div class='row'>
						<%= render 'tags/form.html'%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
