<ul class="breadcrumb">
	<li class="breadcrumb-item"><%=link_to "List Scan Targets",scaners_path(owner_type: session[:owner_type],scan_type: session[:scan_type],is_scheduled: session[:is_scheduled])%></li>
	<li class="breadcrumb-item active">Scan Results</li>
</ul>
