<ReportItem
  port="80"
  svc_name="www"
  protocol="tcp"
  severity="3"
  pluginID="11030"
  pluginName="Apache Chunked Encoding Remote Overflow"
  pluginFamily="Web Servers">

  <exploitability_ease>Exploits are available</exploitability_ease>
  <vuln_publication_date>2002/06/19</vuln_publication_date>
  <exploit_framework_canvas>true</exploit_framework_canvas>
  <exploit_framework_metasploit>true</exploit_framework_metasploit>
  <cvss_temporal_vector>CVSS2#E:F/RL:OF/RC:C</cvss_temporal_vector>
  <exploit_framework_core>true</exploit_framework_core>
  <solution>Upgrade to Apache web server version 1.3.26 or 2.0.39 or newer.</solution>
  <cvss_temporal_score>6.2</cvss_temporal_score>
  <risk_factor>High</risk_factor>
  <description>The remote Apache web server is affected by the Apache web server chunk handling vulnerability.

If safe checks are enabled, this may be a false positive since it is based on the version of Apache. Although unpatched Apache versions
1.2.2 and above, 1.3 through 1.3.24, and 2.0 through 2.0.36 are affected, the remote server may be running a patched version of Apache.</description>

  <plugin_publication_date>2002/06/17</plugin_publication_date>
  <metasploit_name>Apache Win32 Chunked Encoding</metasploit_name>
  <cvss_vector>CVSS2#AV:N/AC:L/Au:N/C:P/I:P/A:P</cvss_vector>
  <synopsis>The remote web server is vulnerable to a remote code execution attack.</synopsis>
  <plugin_type>remote</plugin_type>
  <see_also>http://httpd.apache.org/info/security_bulletin_20020617.txt</see_also>
  <see_also>http://httpd.apache.org/info/security_bulletin_20020620.txt</see_also>
  <exploit_available>true</exploit_available>
  <plugin_modification_date>2011/03/08</plugin_modification_date>
  <cvss_base_score>7.5</cvss_base_score>
  <canvas_package>CANVAS</canvas_package>
  <cve>CVE-2002-0392</cve>
  <bid>5033</bid>
  <xref>IAVA:2002-a-0003</xref>
  <xref>OSVDB:838</xref>
  <plugin_version>$Revision: 1.45 $</plugin_version>
  <plugin_output>Fake output (for Plugin Manager testing purposes)</plugin_output>
</ReportItem>
