<div class="ts-main-content">
	<%=render "layouts/finding_side_bar"%>
	<div style='margin-left:250px;'>
		<div class='row'>
			<div class='col-md-11'>
				<%=render "findings/breadcrumb"%>
			</div>          
		</div>
	</div>
	<div class='row'>
		<div class='col-md-10'>
			<div class='well' style='margin-left:250px;'>
				<%if @comments.present?%>
					<div id="comments-list">
						<%= render partial: 'list', locals: { comments: @comments } %>
					</div>
				<%else%>
					<p class="comment-alert alert-info">No comments yet.</p>
				<%end%>
				<div class='row top-buffer'>
					<%= render partial: 'form.html', locals: { finding: @finding } %>
					<!--<u><a href="#" onclick="open_message_box(event);"><i class='glyphicon glyphicon-comment'></i> Comment</a></u>-->
				</div>
			</div>
		</div>
	</div>
</div>
