<note>
  <id>123</id>
  <created-at>2014-12-17 17:52:03 UTC</created-at>
  <ntype>mac_oui</ntype>
  <workspace-id>2</workspace-id>
  <service-id/>
  <host-id>91</host-id>
  <updated-at>2014-12-19 20:21:30 UTC</updated-at>
  <critical/>
  <seen/>
  <data>Hewlett-Packard Company</data>
</note>
