$("#add_module").modal('toggle');
$("#module_message").addClass("alert alert-success fade in flash-setting roles-flash");
$("#module_message").html("<a href='#' class='close' data-dismiss='alert'>&times;</a> <strong class='text-center'><%=@msg%></strong> ");
window.setTimeout(function() { // hide alert message
        $(".alert").fadeOut('3000');
}, 3000);
