<div class="ts-main-content">
	<%=render "layouts/user_roles"%>
	<div class="content-wrapper">
		<div class="container-fluid animated fadeInUp">
			<div class='row'>
				<div class='col-md-6'>
					<div class="panel panel-success target-stats">
						<div class="panel-heading"><h5><b>New Module</b></h5></div>
						<div class="panel-body">
							<%= render 'form' %>
							<%= link_to 'Back', functionalities_path %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
