<div class="ts-main-content">
        <%=render "layouts/user_roles"%>
        <div class="content-wrapper">
                <div class="container-fluid animated fadeInUp">
                        <div class='row'>
                                <div class='col-md-8'>
                                        <div class="panel panel-default">
                                                <div class="panel-heading"><h5><b>New Role</b></h5></div>
                                                <div class="panel-body">
                                                        <%= render 'form' %>
                                                        <%= link_to 'Back', roles_path %>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
