{
  "warning_type": "Remote Code Execution",
  "warning_code": 24,
  "fingerprint": "f6a2dbc0c79ecc43f0266b6f293b77d117160f106cd9175ab50c84f3e347ae4e",
  "message": "Unsafe reflection method constantize called with parameter value",
  "file": "engines/frontend/app/controllers/dradis/frontend/upload_controller.rb",
  "line": 118,
  "link": "http://brakemanscanner.org/docs/warning_types/remote_code_execution/",
  "code": "params[:uploader].constantize",
  "render_path": null,
  "location": {
    "type": "method",
    "class": "Dradis::Frontend::UploadController",
    "method": "validate_uploader"
  },
  "user_input": "params[:uploader]",
  "confidence": "High"
}
